
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;
    background: #081b29;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 100;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.header .logo {
    width: 70px;
    height: auto;
    margin-left: 20px;
    border-radius: 50%;
}

.navbar a {
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    margin-left: 30px;
    transition: color 0.3s ease;
    font-weight: 600;
   
}

.navbar a:hover {
    color: #ff9505;
    text-shadow: 0 0 20px #ff9505, 0 0 50px #ff9505, 0 0 100px #ff9505, 0 0 200px #ff9505;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    background: url('./images/home.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    padding: 70px 10% 0; 
}

.home-content {
    max-width: 550px;
}

.home-content h3 {
    font-size: 33px;
    font-weight: 600;
    color: aliceblue;
    line-height: 50px;
}

.home-content h1 {
    font-size: 60px;
    font-weight: 700;
    color: aliceblue;
    margin: -3px 0;
    line-height: 1.2;
    word-spacing: 1px;
}

.home-content p {
    font-size: 18px;
    color: aliceblue;
    margin: 20px 0;
    word-spacing: .5px;
    line-height: 1.3;
}

.home-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 2px solid #ff9505;
    border-radius: 50%;
    background: transparent;
    font-size: 20px;
    color: #ff9505;
    margin: 30px 15px 30px 0;
    text-decoration: none;
    
}

.home-icons a:hover {
    background: #ff9505;
    color: #081b29;
    box-shadow: 0 0 20px #ff9505;
}

.home-btn {
    display: inline-block;
    padding: 15px 30px;
    background: #ff9505;
    border-radius: 42px;
    color: #081b29;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;

}

.home-btn:hover {
    background: aliceblue;
    color: #081b29;
    box-shadow: 0 0 20px #ff9505, 0 0 50px #ff9505, 0 0 100px #ff9505, 0 0 200px #ff9505;
}

.text {
    color: #ff9505;
    line-height: 30px;
}

.about {
    padding: 50px; 
    
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; 
    gap: 1.5rem;
}

.about-text {
    color: #333; 
    font-size: 18px;
    line-height: 1.6;
}

.about-image img {
    max-width: 400px; 
    height: auto; 
    border-radius: 8px;
    width: 100%;
    transition: transform 0.3s ease;
}

.about-image img:hover {
    cursor: pointer;
    transform: scale(.8);
}

.about-text h2{
    font-size: 56px;
    color: aliceblue;
}

.about-text h2 span {
    color: #ff9505;
    
}

.about-text h4 {
    color: aliceblue;
    font-size: 30px;
    margin: 15px 0 30px;
    font-weight: 600;
    line-height: 1.2;
}

.about-text p {
    color: aliceblue;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
}

#services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
  
}

.title {
    text-align: center;
    font-size: 56px;
    padding-bottom: 50px;
}

.title span {
    color: #ff9505;
}

.container {
    padding: 50px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 30px;
    
}

.services-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 16px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #0053b8f7;
}

.services-list div i {
    font-size: 45px;
    margin-bottom: 28px;
}

.services-list div h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.services-list div a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    margin-top: 18px;
}

.read{
    display: inline-block;
    padding: 15px 30px;
    background: #ff9505;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #081b29;

}

.read:hover {
    background: #fff;
    color: #081b29;
    box-shadow: 0 0 20px #ff9505, 0 0 50px #ff9505, 0 0 100px #ff9505, 0 0 200px #ff9505;
}

.services-list div:hover {
    transform: translateY(-10px);
}

.education {
    color: aliceblue;
    padding: 50px;
}

.education .title {
    text-align: center;
    font-size: 56px;
    padding-bottom: 50px;
}

.education .title span {
    color: #ff9505;
}

.education-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin-bottom: 50px;
}

.education-item {
    background: #051129;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #0053b8f7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.education-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #ff9505;
}

.education-item h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #ff9505;
}

.education-item p {
    font-size: 16px;
    line-height: 1.6;
    color: aliceblue;
}

.cv-button {
    text-align: center;
}

.download-btn {
    display: inline-block;
    padding: 15px 30px;
    background: #ff9505;
    color: #081b29;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 42px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.download-btn:hover {
    background: aliceblue;
    color: #081b29;
    box-shadow: 0 0 20px #ff9505, 0 0 50px #ff9505, 0 0 100px #ff9505, 0 0 200px #ff9505;
}

#skills {
    padding: 50px;
    
}

.skills-bars {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
    background: #081b29;
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #0053b8f7;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #051129;
    padding: 15px 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bar:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #ff9505;
}

.bar i {
    font-size: 40px;
    color: #ff9505;
    margin-right: 20px;
}

.info {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
}

.progress-line {
    position: relative;
    flex: 2;
    height: 10px;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
}

.progress-line span {
    position: absolute;
    height: 100%;
    background: #ff9505;
    border-radius: 10px;
    animation: grow 1.5s ease-in-out;
}

.progress-line.html span {
    width: 90%; 
}

.progress-line.css span {
    width: 80%; 
}

.progress-line.JavaScript span {
    width: 45%; 
}

.progress-line.Python span {
    width: 20%; 
}

.progress-line.figma span {
    width: 60%; 
}


.projects {
    
    background: #081b29;
    color: aliceblue;
    text-align: center;
}

.projects .title {
    font-size: 56px;
    margin-bottom: 50px;
}

.projects .title span {
    color: #ff9505;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 30px;
}

.project-item {
    background: #051129;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #0053b8f7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #ff9505;
}

.project-item img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.project-item h2 {
    font-size: 22px;
    color: #ff9505;
    margin-bottom: 10px;
}

.project-item p {
    font-size: 16px;
    line-height: 1.6;
    color: aliceblue;
    margin-bottom: 15px;
}

.project-link {
    display: inline-block;
    padding: 10px 20px;
    background: #ff9505;
    color: #081b29;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 42px;
    margin-top: 20px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.project-link:hover {
    background: aliceblue;
    color: #081b29;
    box-shadow: 0 0 20px #ff9505, 0 0 50px #ff9505, 0 0 100px #ff9505, 0 0 200px #ff9505;
}

.contact {
    padding: 50px;
    background: #081b29;
    color: aliceblue;
    text-align: center;
}

.contact .title {
    font-size: 56px;
    margin-bottom: 30px;
}

.contact .title span {
    color: #ff9505;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background: #051129;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #0053b8f7;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: aliceblue;
    font-size: 16px;
    outline: none;
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #aaa;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background: #444;
}

.submit-btn {
    display: inline-block;
    padding: 15px 30px;
    background: #ff9505;
    color: #081b29;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 42px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.submit-btn:hover {
    background: aliceblue;
    color: #081b29;
    box-shadow: 0 0 20px #ff9505, 0 0 50px #ff9505, 0 0 100px #ff9505, 0 0 200px #ff9505;
}



.footer-container {
    width: 100%;
    padding: 70px 30px 20px;
    background:#051129;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    text-decoration: none;
    padding: 10px;
    background-color: aliceblue;
    color: #051129;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.social-icons a i {
    font-size: 20px;
}

.social-icons a:hover {
    background: #ff9505;
    color: #081b29;
    box-shadow: 0 0 20px #ff9505;
}

.footer-nav {
    margin: 30px 0;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-nav ul li a{
    text-decoration: none;
    color: aliceblue;
    margin: 20px;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    font-weight: 600;

}

.footer-nav ul li a:hover {
    opacity: 1;
}

.copyright {
    background-color: #051129;
    padding: 20px;
    text-align: center;
}

.copyright p {
    font-size: 16;
    color: aliceblue;
}

.copyright p span a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    opacity: 0.8;
    color: aliceblue;
    text-decoration: none;
}

.copyright p span a:hover {
    opacity: 1;
    cursor: pointer;
}



@keyframes grow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}